<div class="p-4">
    <h4 class="fst-italic">My Networks</h4>
    <a href="https://github.com/JulieAlary" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://twitter.com/julie_alary" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.facebook.com/julie.alary1" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
</div>