@import "~bootstrap/dist/css/bootstrap.css";

h1 {
    color: red;
}

a {
    text-decoration: none;
}

/*footer*/
.fa-heart-pulse {
    color: red;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
.fa-up-long {
    color: #727272;
}

/*Networks*/
.fa-github-alt, .fa-twitter, .fa-facebook-f {
    color: black;
    font-size: 2rem;
}
.fa-twitter, .fa-facebook-f {
    margin-left: 1rem;
}