<div class="container">
<footer class="blog-footer">
    <p class="text-center">Built with <i class="fa-solid fa-heart-pulse"></i> love by <a href="https://juliealary.github.io/">Julie Alary</a>.</p>
    <p>
        <a href="#"><i class="fa-solid fa-up-long"></i></a>
    </p>
</footer>
</div>