<div class="container">
<footer class="blog-footer">
    <p class="text-center">Built with love by <a href="https://juliealary.github.io/">Julie Alary</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</div>